#field {
  margin: 0 auto;
  border-collapse: collapse;
}

#field td {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
}

.cross {
  color: red;
  font-size: 20px;
  line-height: 1; 
  cursor: pointer; 
}

.cross2 {
  color: rgb(0, 255, 89); 
  font-size: 20px; 
  line-height: 1; 
  cursor: pointer; 
}